@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background-color: transparent
}

[hidden] {
    display: none
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0
}

a {
    color: inherit;
    text-decoration: inherit
}

svg,
video {
    display: block;
    vertical-align: middle
}

video {
    max-width: 100%;
    height: auto
}

.bg-white {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity))
}

.bg-gray-100 {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity))
}

.border-gray-200 {
    --border-opacity: 1;
    border-color: #edf2f7;
    border-color: rgba(237, 242, 247, var(--border-opacity))
}

.border-t {
    border-top-width: 1px
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.font-semibold {
    font-weight: 600
}

.h-5 {
    height: 1.25rem
}

.h-8 {
    height: 2rem
}

.h-16 {
    height: 4rem
}

.text-sm {
    font-size: .875rem
}

.text-lg {
    font-size: 1.125rem
}

.leading-7 {
    line-height: 1.75rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.ml-1 {
    margin-left: .25rem
}

.mt-2 {
    margin-top: .5rem
}

.mr-2 {
    margin-right: .5rem
}

.ml-2 {
    margin-left: .5rem
}

.mt-4 {
    margin-top: 1rem
}

.ml-4 {
    margin-left: 1rem
}

.mt-8 {
    margin-top: 2rem
}

.ml-12 {
    margin-left: 3rem
}

.-mt-px {
    margin-top: -1px
}

.max-w-6xl {
    max-width: 72rem
}

.min-h-screen {
    min-height: 100vh
}

.overflow-hidden {
    overflow: hidden
}

.p-6 {
    padding: 1.5rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.pt-8 {
    padding-top: 2rem
}

.fixed {
    position: fixed
}

.relative {
    position: relative
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06)
}

.text-center {
    text-align: center
}

.text-gray-200 {
    --text-opacity: 1;
    color: #edf2f7;
    color: rgba(237, 242, 247, var(--text-opacity))
}

.text-gray-300 {
    --text-opacity: 1;
    color: #e2e8f0;
    color: rgba(226, 232, 240, var(--text-opacity))
}

.text-gray-400 {
    --text-opacity: 1;
    color: #cbd5e0;
    color: rgba(203, 213, 224, var(--text-opacity))
}

.text-gray-500 {
    --text-opacity: 1;
    color: #a0aec0;
    color: rgba(160, 174, 192, var(--text-opacity))
}

.text-gray-600 {
    --text-opacity: 1;
    color: #718096;
    color: rgba(113, 128, 150, var(--text-opacity))
}

.text-gray-700 {
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74, 85, 104, var(--text-opacity))
}

.text-gray-900 {
    --text-opacity: 1;
    color: #1a202c;
    color: rgba(26, 32, 44, var(--text-opacity))
}

.underline {
    text-decoration: underline
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.w-5 {
    width: 1.25rem
}

.w-8 {
    width: 2rem
}

.w-auto {
    width: auto
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

@media (min-width:640px) {
    .sm\:rounded-lg {
        border-radius: .5rem
    }
    .sm\:block {
        display: block
    }
    .sm\:items-center {
        align-items: center
    }
    .sm\:justify-start {
        justify-content: flex-start
    }
    .sm\:justify-between {
        justify-content: space-between
    }
    .sm\:h-20 {
        height: 5rem
    }
    .sm\:ml-0 {
        margin-left: 0
    }
    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
    .sm\:pt-0 {
        padding-top: 0
    }
    .sm\:text-left {
        text-align: left
    }
    .sm\:text-right {
        text-align: right
    }
}

@media (min-width:768px) {
    .md\:border-t-0 {
        border-top-width: 0
    }
    .md\:border-l {
        border-left-width: 1px
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (min-width:1024px) {
    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media (prefers-color-scheme:dark) {
    .dark\:bg-gray-800 {
        --bg-opacity: 1;
        background-color: #2d3748;
        background-color: rgba(45, 55, 72, var(--bg-opacity))
    }
    .dark\:bg-gray-900 {
        --bg-opacity: 1;
        background-color: #1a202c;
        background-color: rgba(26, 32, 44, var(--bg-opacity))
    }
    .dark\:border-gray-700 {
        --border-opacity: 1;
        border-color: #4a5568;
        border-color: rgba(74, 85, 104, var(--border-opacity))
    }
    .dark\:text-white {
        --text-opacity: 1;
        color: #fff;
        color: rgba(255, 255, 255, var(--text-opacity))
    }
    .dark\:text-gray-400 {
        --text-opacity: 1;
        color: #cbd5e0;
        color: rgba(203, 213, 224, var(--text-opacity))
    }
}

.epreguntas-c {
    margin-right: 128px;
}

.iconContainer {
    margin-top: 16px;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.iconContainer img {
    position: relative;
    margin-bottom: 16px;
}

.lecturaContainer {
    margin: calc(-0.2 * 100vh + 22px) 172px 0 32px;
}

.barraContainer {
    text-align: -webkit-right;
    margin-bottom: 22px;
}

.barra {
    background: #5ec26d;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    width: 300px;
    margin-right: 16px;
}

.barra img {
    margin: 8px;
}

#ti {
    font-family: 'Nunito', sans-serif;
}

.cuento {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 5px 1px rgb(173, 173, 173);
}

.cuento {
    text-align: center;
}

.cuento h1 {
    padding-top: 8px;
    color: #3457a1;
    font-size: xx-large;
}

.cuento img {
    margin: 0 auto;
    max-width: 60%;
    max-height: 250px;
}

.epages {
    padding: 4px 0;
}

.eButtonsSpace {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.texto {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 8px 25px;
}

#titulo {
    color: #00a3fb;
}

.enunciadoL {
    margin-left: 20px;
}

#p1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

#p1 p,
h5 {
    align-self: start;
}

.audioContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.actionButton {
    margin: 0;
    height: 60px;
    width: 60px;
    position: absolute;
    right: 0;
    margin-right: 32px;
    align-self: center;
}

.epreguntas {
    margin-left: 28px;
}

.epreguntas h5 {
    margin-bottom: 1rem;
}

.rpt a {
    margin: 16px 0;
    width: 80%;
    text-decoration: none!important;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px rgb(173, 173, 173);
    transition: 0.125s;
    color: black;
    border: 4px solid transparent;
}

.rpt a:active {
    border-color: #39b44a;
    color: black;
}

.rpt a:before {
    box-shadow: 0px 0px 5px 5px #39b44a;
    color: black;
}

.rsp {
    padding-left: 50px;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

hr {
    background-color: rgb(173, 173, 173);
    margin-left: 20px;
}

.forma {
    shape-outside: url(../images/egiptos.png);
    shape-image-threshold: 0.5;
    shape-margin: 20px;
    float: right;
    width: 100%;
    max-width: 600px;
    height: auto;
}

.letra {
    text-align: justify;
}

.verActivity {
    background: #8dc63f;
    border: 0;
    color: white;
    width: 150px;
    border-radius: 5px;
    padding: 0.75%;
}

@media (max-width: 576px) {
    .epreguntas-c {
        margin-right: 0;
    }
    .audioContainer {
        justify-content: space-between;
    }
    .actionButton {
        position: relative;
    }
    .rpt a {
        width: 100%;
    }
    hr,
    .epreguntas,
    .enunciadoL {
        margin-left: 0;
    }
    .iconContainer {
        position: relative;
        flex-direction: row;
        margin-right: auto;
    }
    .lecturaContainer {
        margin: 0 32px;
    }
}

@media (max-width: 420px) {
    .lecturaContainer {
        margin: 0 16px;
    }
    .cuento h1 {
        font-size: x-large;
    }
}

.infografiaInfo {
    display: flex;
}

.infografiaPasos {
    width: 40%;
}

.infografiaPasos p {
    font-size: x-large;
}

.infografiaImagen {
    display: flex;
    width: 60%;
    background-color: white;
}

.infografiaImagen img {
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 0 5px 3px rgb(173, 173, 173);
    width: 70%;
    max-width: 100%;
}

@media (max-width: 1200px) {
    .infografiaPasos {
        width: 60%;
    }
    .infografiaImagen {
        width: 40%;
    }
}

@media (max-width: 576px) {
    .infografiaInfo {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 32px;
    }
    .infografiaPasos {
        width: 100%;
    }
    .infografiaImagen {
        width: 60%;
    }
}

.ebuttons button {
    margin: 8px;
}