.book-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
}

.book-card {
    flex: 33%;
    max-width: 360px;
    margin: 20px 10px;
    border-radius: 15px;
    cursor: pointer;
    border: 6px solid transparent;
}

.book-card img {
    width: 113.5%;
    margin-top: -6.85%;
    margin-left: -6.85%;
    margin-bottom: -6.85%;
}

.edesafio-card {
    flex: 50%;
    max-width: 550px;
    margin: 20px 10px;
    border-radius: 15px;
    cursor: pointer;
    border: 6px solid transparent;
}

.desafioImg {
    width: 116.7%;
    margin-top: -8%;
    margin-left: -8.4%;
    margin-bottom: -8%;
}

.book-card:hover {
    border-color: #39b44a;
    border-radius: 10%;
}

.edesafio-card:hover {
    border-color: #39b44a;
    border-radius: 6%;
}

.checkContainer {
    position: absolute;
    padding-left: 16.5%;
    margin-top: 16.5%;
}

.check {
    width: 50px;
    height: 50px;
}

@media (max-width: 540px) {
    .book-card {
        flex: 50%;
    }
}