.book-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
}

.book-card {
    flex: 33%;
    max-width: 360px;
    margin: 20px 10px;
    border-radius: 15px;
    cursor: pointer;
}

.edesafio-card {
    flex: 50%;
    max-width: 550px;
    margin: 20px 10px;
    border-radius: 15px;
    cursor: pointer;
    border: 6px solid transparent;
}

.book-card:hover, .edesafio-card:hover {
    border-color: #39b44a;
}

@media (max-width: 540px) {
    .book-card {
        flex: 50%;
    }
}