.gcheck {
    content: url(../images/check.png);
    width: 15px;
    height: 15px;
    margin: 0 8px 3px 8px;
    margin-bottom: 3px;
    margin-right: 8px;
    opacity: 0;
}

.pupiletrasContainer {
    border-top: 6px solid #cc0033;
    width: 90%;
    margin: 40px 32px 0 32px;
    display: flex;
}

.pupiletrasInfo {
    width: 30%;
    margin: 16px;
    display: grid;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    box-shadow: 0 0 5px 3px rgb(173, 173, 173);
    background-color: white;
}

.pupiletrasTitle, .pupiletrasRestantes {
    background-color: #cc0033;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
}

#Palabras {
    padding-top: 21px;
    font-size: 1rem;
}

#Palabras ul {
    padding-left: 0;
    list-style-type: none;
}

#Palabras li {
    padding: 3px 0;
    font: 1em sans-serif;
    color: gray;
}

#Palabras .wordFound > .gcheck {
    opacity: 100%;
}

#juego {
    border: 1px solid black;
    padding: 20px;
    float: left;
    margin: 30px 20px;
}

#juego div {
    width: 100%;
    margin: 0 auto;
}


/* style for each square in the puzzle */

#juego .puzzleSquare {
    outline: none;
    height: 30px;
    width: 30px;
    text-transform: uppercase;
    background-color: white;
    border: 0;
    font: 1em sans-serif;
}

button::-moz-focus-inner {
    border: 0;
}


/* indicates when a square has been selected */

#juego .selected {
    background-color: orange;
}


/* indicates that the square is part of a word that has been found */

#juego .found1 {
    background-color: red;
    color: white;
}

#juego .found2 {
    background-color: orangered;
    color: white;
}

#juego .found3 {
    background-color: orange;
    color: white;
}

#juego .found4 {
    background-color: sandybrown;
    color: white;
}

#juego .found5 {
    background-color: yellow;
    color: white;
}

#juego .found6 {
    background-color: yellowgreen;
    color: white;
}

#juego .found7 {
    background-color: olive;
    color: white;
}

#juego .found8 {
    background-color: springgreen;
    color: white;
}

#juego .found9 {
    background-color: green;
    color: white;
}

#juego .found10 {
    background-color: steelblue;
    color: white;
}

#juego .found11 {
    background-color: teal;
    color: white;
}

#juego .found12 {
    background-color: skyblue;
    color: white;
}

#juego .found13 {
    background-color: blue;
    color: white;
}

#juego .found14 {
    background-color: royalblue;
    color: white;
}

#juego .found15 {
    background-color: violet;
    color: white;
}

#juego .found16 {
    background-color: magenta;
    color: white;
}

#juego .found17 {
    background-color: purple;
    color: white;
}

#juego .found18 {
    background-color: salmon;
    color: white;
}

#juego .found19 {
    background-color: pink;
    color: white;
}

#juego .found20 {
    background-color: deeppink;
    color: white;
}

#juego .found21 {
    background-color: brown;
    color: white;
}

#juego .found22 {
    background-color: grey;
    color: white;
}

#juego .found23 {
    background-color: black;
    color: white;
}

#juego .solved {
    background-color: lightcoral;
    color: white;
}


/* indicates that all words have been found */

.gameComplete {
    border-color: #2dcc00;
}

.gameComplete .pupiletrasTitle, .gameComplete .pupiletrasRestantes {
    background-color: #2dcc00;
}


@media (max-width: 856px) {
    .pupiletrasContainer {
        flex-direction: column;
    }

    .pupiletrasInfo {
        width: 100%;
    }

    #Palabras ul {
        display: flex;
        flex-wrap: wrap;
    }

    #juego {
        width: fit-content;
        padding: 0;
    }
}