.eresultados {
    height: calc(0.8 * 100vh);
    display: flex;
    justify-content: space-between;
}

.eresultados__left {
    width: 58%;
}

.eresultados__right {
    width: 38%;
    display: flex;
    flex-direction: column;   
}

.enotas, .eresultadosCards {
    height: 50%;
}

.eresultadosCard {
    width: 300px;
    height: 100px;
    display: flex;
    border-radius: 15px;
    margin-bottom: 16px;
}

.eresultadosCard:nth-child(1) .eresultadosCard__left {
    background-color: #39b44a;
    border: 4px solid #39b44a;
}

.eresultadosCard:nth-child(2) .eresultadosCard__left {
    background-color: #0075fc;
    border: 4px solid #0075fc;
}

.eresultadosCard:nth-child(3) .eresultadosCard__left {
    background-color: #3457a1;
    border: 4px solid #3457a1;
}

.eresultadosCard:nth-child(1) .eresultadosCard__right {
    border-right: 4px solid #39b44a;
    border-top: 4px solid #39b44a;
    border-bottom: 4px solid #39b44a;
}

.eresultadosCard:nth-child(2) .eresultadosCard__right {
    border-right: 4px solid #0075fc;
    border-top: 4px solid #0075fc;
    border-bottom: 4px solid #0075fc;
}

.eresultadosCard:nth-child(3) .eresultadosCard__right {
    border-right: 4px solid #3457a1;
    border-top: 4px solid #3457a1;
    border-bottom: 4px solid #3457a1;
}

.eresultadosCard__left {
    width: 30%;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: white;
}

.eresultadosCard__left img {
    width: 80%;
    margin: 0 auto;
}

.eresultadosCard__right {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 15px 15px 0;
}

.ecardText p {
    margin: 0;
}

.ecardText p:nth-child(2) {
    font-size: smaller;
}

.ecardText {
    margin: auto;
}