* {
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

.menubar {
    display: flex;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    transition: 0.7s;
}

.triggerGroup {
    margin-left: 32px;
    margin-top: 16px;
}

.chkTrigger {
    z-index: 1;
    transition: 0.7s;
}

.triggerGroup label i {
    color: #7f7f7f;
    cursor: pointer;
}

.triggerGroup label i:hover {
    color: #000;
}

.studentProfilePicture {
    width: 150px;
    margin: 16px 0;
}

.studentLevel {
    background:#8dc63f;
    padding-left: 1.5%;
    border-top-left-radius:7px;
    border-bottom-left-radius: 7px;
    color: white;
    padding-right: 5%;
    font-size: calc(1rem + 1vw);
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: sans-serif;
    line-height: 1;
}

.rightContent {
    margin-left: 15.81%;
    width: 100%;
    transition: 0.7s;
}

.ehelpNote {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.22);
    height: 100vh;
    width: 100%;
    display: flex;
    z-index: 1;
    align-items: flex-end;
}

.ehelphide {
    display: none;
}

.ehelpNote img {
    margin: 0;
    height: 50%;
}

.ehelpMessage {
    padding: 8px;
    line-height: 1.75;
    margin-bottom: calc(0.3 * 100vh);
    margin-left: 16px;
    width: 400px;
    color: #585857;
    font-size: 22px;
    border-radius: 15px;
    border: 4px solid #5ec26d;
    background-color: white;
    text-align: center;
}

.ebackground {
    padding-left: 32px;
    position: absolute;
    background-image: url(../images/tapiz.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:white;
    top: 0;
    z-index: -1;
}

.econtent {
    margin-top: -80px;
}

.infomacion {
    padding-left: 32px;
    padding-right: 32px;
}

.infomacion h1 {
    top: -80px;
}

.infomacion h4 {
    color: #585857;
}

.infoTitle {
    color: #585857;
}

.infoContent {
    color: #7e7e7d;
}

.avatarImg {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.12) !important;
}

.avatarImg img {
    border-radius: 50%;
}

.avatarSelected {
    border: 5px solid #90c744;
}

.esidebar {
    z-index: 100;
    height: 101vh;
    width: 15.81%;
    background-color: #00a3fb;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: 0.7s;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.esidebar .logo {
    width: 100%;
    height: 20%;
    display: flex;
}

.esidebar .logo img {
    width: 60%;
    margin: auto;
}

.esidebar ul {
    padding-left: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    height: 60%;
}

.esidebar ul li {
    height: 20%;
    text-align: -webkit-center;
    margin-bottom: 8px;
}

.esidebar ul li a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .4s;
    height: 100%;
}

.eoption {
    transition: ease-in-out 0.25s;
}

.eoption:hover {
    box-shadow: inset 0 0 100px 100px #f29100;
}

a img {
    margin: auto;
    padding: 4px 0;
    height: 90%;
    transition: 0.25s;
    border-radius: 15px;
}

.logout {
    font-size: 16px;
    height: 20%;
    text-align: center;
    display: flex;
}

.logoutContent {
    margin: auto;
}

.logoutContent img {
    height: 18px;
    vertical-align: sub;
}

.logout a {
    text-decoration: none;
    font-size: 80%;
}

#chk {
    display: none;
}

.chkTrigger {
    transition-delay: 0.7s;
    transition: 0.75s;
}

@media (max-width: 768px) {
    .esidebar {
        left: -100%;
        width: 100vw;
        text-align: center;
    }

    .rightContent {
        margin-left: 0;
    }

    .esidebar .logo img {
        width: 40%;
    }
}

@media (max-width: 576px) {
    .econtent {
        margin-top: 8px;
    }
}

@media (min-width: 992px) {
    .hr_displayForAvatar {
        display: none;
    }
}

/* Perfil */

.ebuttons {
    padding: 5% 0;
    text-align: center;
}

.saveButton {
    border-radius: 5px;
    padding: 0.75%;
    background-color: #39b44a;
    border-color: #39b44a;
    border: 0;
    color: white;
    width: 150px;
}


.cancelButton {
    border-radius: 5px;
    padding: 0.70%;
    border: 2px solid #5ec26d;
    background-color: transparent;
    color: #5ec26d;
    width: 150px;
    font-weight: 600;
}

/* Welcome Page */

.econtainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.econtainer img {
    height: calc(0.9 * 100vh);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ewelcome {
    margin-top: 80px;
    grid-column: 2/4;
}

.ewelcome p {
    text-align: center;
    font-size: calc(2rem + 3vw);
    font-family: 'Roboto', sans-serif;
    color: #838383;
}

@media screen and (max-width: 900px) {
    .econtainer img {
        display: none;
    }

    .ewelcome {
        grid-column: 1/4;
    }

    .efooter {
        position: fixed;
        bottom: 0;
    }
}

.chatFloatingButton {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 90px;
    margin: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.chatFloatingButton:hover {
    width: 95px;
    margin: 13.25px;
}