.chats {
    display: flex;
    position: relative;
    bottom: 0px;
    right: 50px;
    align-items: flex-end;
    padding: 0;
}

.observer {
    height: 5px;
}

.chat-bubble {
    height: 55px;
    overflow: hidden;
    min-width: 285px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    bottom: 0;
    margin-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #e4e4e4;
    z-index: 100;
}

.chat-bubble.open {
    min-height: 350px;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
    padding: 8px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease-in;
}

.chat-header:hover {
    background-color: #f7f7f7;
}

.user-avatar {
    display: flex;
    flex: 1;
}

.user-avatar img {
    border-radius: 50%;
    margin-right: 8px;
}

.user-avatar .img-container {
    position: relative;
}

.user-avatar .img-container img {
    width: 35px;
}

/* .user-avatar .img-container::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #1ba71b;
    position: absolute;
    right: 4px;
    bottom: 4px;
    border-radius: 50%;
    border: 2px solid #fff;
} */

.user-avatar .user-status-info {
    display: flex;
    align-items: center;
}

.user-avatar .user-status-info a {
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.user-avatar .user-status-info p {
    font-size: 11px;
    color: gray;
}

.chat-comm {
    display: none;
}

.chat-bubble.open .chat-comm {
    display: block;
}

.chat-comm a {
    text-decoration: none;
}

.chat-comm a:not(:last-child) {
    margin-right: 8px;
}

.chat-body {
    padding: 8px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
    overflow-y: auto;
}

.container-messages {
    width: 100%;
}

.sender-other .user-avatar .img-container img {
    width: 25px;
}

.sender-other .user-avatar .img-container::after {
    width: 7px;
    height: 7px;
    right: 4px;
    bottom: 6px;
}

.sender-other .other-message {
    background-color: #f1f0f0;
    border-radius: 25px;
    padding: 8px 11px;
    margin-bottom: 5px;
    font-size: 14px;
}

.sender-me {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sender-me .my-message {
    background-color: #3578e5;
    color: #fff;
    border-radius: 25px;
    padding: 8px 11px;
    margin-bottom: 5px;
    font-size: 14px;
}

.sender-me .seen-at {
    display: flex;
    align-items: center;
    color: #90949c;
    font-size: 11px;
    margin-top: 8px;
}

.sender-me .seen-at img.check {
    width: 12px;
    margin-right: 4px;
}

.chat-footer {
    border-top: 1px solid #e4e4e4;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    padding: 8px 0px;
}

.chat-footer input[type="textarea"] {
    width: 100%;
    border: none;
    padding: 0 8px;
}

.chat-footer svg path {
    fill: #bec2c9;
}

.chat-footer input[type="textarea"]:focus {
    outline: none;
}
.chat-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.chat-media a {
    text-decoration: none;
}

.chat-media a:not(:last-child) {
    margin-right: 8px;
}

.chat-media img {
    width: 18px;
}

.chat-media img.game {
    width: 20px;
}

.chat-media img.attach {
    width: 14px;
}

.chat-media img.camera {
    width: 16px;
}

/* Minimized */
.allUsersList {
    width: 300px;
    margin: 20px;
}
.allUsersList .card-header {
    background: #683db8;
    color: #fff;
    padding: 10px;
}
.allUsersList .image img {
    border-radius: 16px;
}
.usersChatList {
    position: relative;
    width: 250px;
    bottom: 0;
    margin-bottom: 0;
    right: 50px;
}
.show {
    display: block;
}
.thumb-user-list {
    display: none;
}
.thumb-user-list .image img {
    border-radius: 30px;
}
.usersChatList .card-header {
    background: #683db8;
    font-size: 13px;
}
.chatBox {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    margin: 40px;
    margin-bottom: 0;
    font-size: 13px;
}
.chat-content {
    overflow: auto;
    height: 300px;
}
.chatBox .card {
    border-radius: 4px;
}
.chatBox .card-header {
    background: #683db8;
}
.header-title {
    height: 50px;
}
.card-header-title i {
    font-size: 10px;
    color: #32e4cd;
    margin-right: 6px;
}
.card-header .card-header-title {
    color: #fff;
}
.chat-content small {
    margin: 0;
}
.chat-content p {
    background: #ecf1f8;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 0;
}
.my-content .media-content {
    width: 80%;
}
.my-content .message {
    float: right;
    background: #683db8;
    color: #fff;
    text-align: right;
    padding: 10px;
    margin-bottom: 4px;
    font-size: 13px;
}
.my-content .chat-content small {
    float: right;
}
.my-content small {
    display: block;
    float: right;
    width: 100%;
    text-align: right;
}
.chat-textarea {
    font-size: 14px;
    padding: 8px;
    height: 40px;
    width: 100%;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}
.chat-message-group {
}
.chat-message-group .chat-thumb {
    float: left;
    width: 20%;
}
.chat-message-group .chat-messages {
    float: left;
    width: 80%;
    margin-bottom: 20px;
}
.chat-message-group .message {
    float: left;
    padding: 10px;
    background: #ecf1f8;
    font-size: 13px;
    border-radius: 5px;
    margin-bottom: 3px;
}
.chat-messages .from {
    float: left;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 11px;
}
.chat-thumb img {
    border-radius: 40px;
}
.writer-user .chat-messages {
    float: right;
    width: 100%;
}
.writer-user .chat-messages .message {
    float: right;
    background: #683db8;
    color: #fff;
}
.writer-user .chat-messages .from {
    float: left;
    display: block;
    width: 100%;
    text-align: right;
}
.chat-message-group .typing {
    float: left;
}
.chatBox .card-header-icon i {
    color: #fff;
    font-size: 13px;
}
/* CSSS */
.outside-box {
    height: 100px;
    background: #f8c;
    width: 200px;
    margin: 20px;
    overflow: auto;
}
.outside-box .content-insider {
    height: 300px;
    background: #c9c;
}
/* CSS Spinner */
.spinner {
    margin: 0 30px;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 4px;
    height: 4px;
    background-color: #888;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
/* EmojiBox */
.emojiBox {
    width: 150px;
    margin: 30px;
}
.emojiBox .box {
    height: 100px;
    padding: 4px;
}
/* */
.card-header-title img {
    border-radius: 40px;
}
